<div class="footer-main-container" [class.footerDark]="greyMode">
    <div class="button-container">
        <div id="imprint" class="footer-button">
            <a routerLink="/imprint">
                <p>Imprint</p>
            </a>
        </div>
        <div id="data-protection" class="footer-button">
            <a routerLink="/data-protection">
                <p>Data protection</p>
            </a>
        </div>
        <div id="github" class="footer-button">
            <a href="https://github.com/AdrianoParente" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <div id="linkedIn" class="footer-button">
            <a href="https://www.linkedin.com/in/adriano-parente-1889b299" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>