<div *ngFor="let work of works" id="{{ work.id }}" class="container" snInViewport>
    <div class="card" (mouseover)="showOverlay(work.id)" (mouseout)="hideOverlay(work.id)">
        <img src="{{ work.image }}">
        <div id="{{ work.id2 }}" class="card-overlay d-none">
            <h3>
                {{ work.name }}
            </h3>
            <p>
                {{ work.description }}
            </p>
            <div class="category-button">
                <a href="{{ work.link }}" target="_blank"><span>Try out!</span></a>
            </div>
        </div>
    </div>
</div>       