.about-main-container {
  width: 100wh;
  background-color: var(--background-grey);
}

.about-sub-container {
  margin: 0 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about-introduce {
  display: flex;
  border: 1px solid var(--background-grey);
  border-bottom-color: var(--secondary);
  border-left-color: var(--background-grey);
  border-right-color: var(--background-grey);
  margin-bottom: 50px;
}

.aboutText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 50px 0;

  h2 {
    margin-left: 10px;
  }
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin-left: 10px;
  }
}

.aboutImage {
  width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

#subscribe {
  font-family: "WindSong", cursive;
  margin-left: 10px;
}

.life-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 10px;
  margin-top: 20px;
}

.life-category-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.35s ease-out;

  p {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px black, -5px -5px 5px #353535;

  svg {
    width: 60px;
    fill: var(--primary);
  }
}

.description-text {
  width: 200px;
  text-align: center;
  padding: 10px;

  p {
    color: rgba(255, 255, 255, 0.507) !important;
  }
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.mar-bottom {
  margin-bottom: 50px;
}

@for $i from 0 through 7 {
  ._X#{$i} {
    animation-delay: #{$i / 7.5}s;
  }
}

.text-animation-hover {
  display: inline-block;
  animation-fill-mode: both;
  min-width: 10px;

  &:hover {
    color: white;
  }
}

.text-animation-transition {
  animation: rubberBand 1s;
}


.life-category-container.sn-viewport--in {
  animation: ZoomIn 1s ease-in;
}

.life-category-container.sn-viewport--out {
  opacity: 0;
}

h2.sn-viewport--in {
  animation: fadeInAnimationRight 500ms ease-in;
}

h2.sn-viewport--out {
  opacity: 0;
}

@media (max-width: 1150px) {
  #subscribe {
    width: 70%;
  }

  .life-category-container {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .about-sub-container {
    margin: 0 100px;
  }
}

@media (max-width: 1030px) {
  .aboutImage {
    width: 350px;
    height: 350px;
    margin-top: 50px;
  }
}

@media (max-width: 900px) {
  .about-sub-container {
    margin: 0 50px;
  }
}

@media (max-width: 810px) {
  .aboutImage {
    width: 250px;
    height: 250px;
    margin-top: 100px;
  }
}

@media (max-width: 750px) {
  .aboutImage {
    width: 200px;
    height: 200px;
    margin-top: 150px;
  }

  .life-category-container {
    width: unset;
  }
}

@media (max-width: 660px) {
  .about-introduce {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .aboutImage {
    width: 450px;
    height: 450px;
    margin-top: 50px;
    border-radius: 50%;
  }
}

@media (max-width: 550px) {
  .tags {
    font-size: 12px;
  }

  .aboutImage {
    width: 350px;
    height: 350px;
  }

  .life-container {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .life-category-container {
    p {
      font-size: 14px;
    }
  }

  h2 {
    font-size: 48px;
  }

  .aboutImage {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 400px) {
  .about-sub-container {
    margin: 0 10px;
  }
}

@media (min-width:1400px) {
  .about-main-container {
    display: flex;
    justify-content: center;
  }

  .about-sub-container {
    width: 1066px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
