<div class="about-main-container" id="about">
    <div class="about-introduce" >
        <img class="aboutImage" src="assets/img/Adriano_wall.jpg">
        <div class="aboutText">
            <h2 snInViewport>About me</h2>
            <p>
                "Welcome to my website and enjoy watching it.
                I'm a Front-end developer based in Munich.
                You will find a short summary of my life in the section below.
                If you have any questions, please do not hesitate to contact me!"
            </p>
            <div id="subscribe">
                <p>Adriano Parente</p>
            </div>
        </div>
    </div>
    <div class="life-container">
        <div *ngFor="let story of stories" class="life-category-container" snInViewport>
            <div class="circle">
                <i class="{{ story.icon }}"></i>
            </div>
            <p class="description-headline"><b>{{ story.headline }}</b></p>
            <div class="description-text">
                <p>
                    {{ story.description }}
                </p>
            </div>
        </div>       
    </div>

</div>