.contact-main-container {
  width: 100wh;
  background-color: var(--background-black);
}

.mail {
  margin-left: 10px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 150px;

  h2 {
    margin-left: 10px;
    color: var(--secondary);
  }

  a {
    text-decoration: none;
  }

  form {
    width: 100%;
    margin: 0 10px;
  }

  input {
    width: 98%;
    background-color: var(--background-grey);
    color: rgb(182, 181, 181);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  textarea {
    width: 98%;
    background-color: var(--background-grey);
    color: rgb(182, 181, 181);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin-bottom: 20px;
    margin-top: 15px;
    height: 150px;
  }
}

.mar-top {
  margin-top: 50px;
}

#myForm {
  margin-bottom: 50px;
}
.send-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 40px;
}

.send-button {
  transform: translate(-50%, -50%);

  p {
    display: block;
    width: 150px;
    height: 60px;
    top: 32px;
    left: 50%;
    line-height: 60px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: var(--secondary);
    border: 2px solid var(--secondary);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
  }

  p span {
    position: relative;
    z-index: 2;
  }

  p:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--secondary);
    transition: all 0.35s;
  }

  p:hover {
    color: #fff;
    cursor: pointer;
  }

  p:hover:after {
    width: 100%;
  }
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

@for $i from 0 through 7 {
  ._X#{$i} {
    animation-delay: #{$i / 7.5}s;
  }
}

.text-animation-hover {
  display: inline-block;
  animation-fill-mode: both;
  min-width: 10px;

  &:hover {
    color: white;
  }
}

.text-animation-transition {
  animation: rubberBand 1s;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid var(--primary) !important;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border: 1px solid var(--secondary) !important;
}

@media (max-width: 1100px) {
  .contact-main-container {
    height: unset;
  }

  .contact-container {
    margin: 0 100px;
  }
}

@media (max-width: 900px) {
  .contact-container {
    margin: 0 50px;
  }
}

@media (max-width: 550px) {
  .tags {
    font-size: 12px;
  }

  h2 {
    font-size: 48px;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 400px) {
  .contact-container {
    margin: 0 10px;
    
    form {
      width: 95%;
    }
  }
}

@media (min-width:1400px) {
  .contact-main-container {
    display: flex;
    justify-content: center;
  }

  .contact-container {
    width: 1066px;
    margin-left: 0px;
    margin-right: 0px;
  }
}