.intro-container {
  width: 100wh;
  background-color: var(--background-black);
}

.work-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  margin: 0 150px;
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;

  h2 {
    margin-left: 10px;
  }
}

.category-button-container {
  width: 500px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-button {
  margin-left: 5px;
  margin-right: 5px;
  transform: translate(-50%, -50%);

  a {
    display: block;
    width: 150px;
    height: 60px;
    left: 50%;
    line-height: 60px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: var(--primary);
    border: 2px solid var(--primary);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
  }

  a span {
    position: relative;
    z-index: 2;
  }

  a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--primary);
    transition: all 0.35s;
  }

  a:hover {
    color: #fff;
    cursor: pointer;
  }

  a:hover:after {
    width: 100%;
  }
}

.activated {
  a {
    background: var(--primary);
    color: #fff;
  }
}

.d-none {
  display: none;
}

.container.sn-viewport--in {
  animation: showAnimation 225ms ease-in;
}

.container.sn-viewport--out {
  opacity: 0;
}

.category-button.sn-viewport--in {
  animation: ZoomIn 225ms ease-in;
}

.category-button.sn-viewport--out {
  opacity: 0;
}

.button-work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons {
  margin-top: 50px;
  margin-left: 10px;
}

.all-works {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tags-right {
  margin-left: 50px;
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

@for $i from 0 through 10 {
  ._X#{$i} {
    animation-delay: #{$i / 7.5}s;
  }
}

.text-animation-hover {
  display: inline-block;
  animation-fill-mode: both;
  min-width: 10px;

  &:hover {
    color: white;
  }
}

.text-animation-transition {
  animation: rubberBand 1s;
}

@media (max-width: 1100px) {
  .work-main-container {
    margin: 0 100px;
  }
}

@media (max-width: 900px) {
  .work-main-container {
    margin: 0 50px;
  }
}

@media (max-width: 620px) {
  .category-button-container {
    flex-direction: column;
    height: unset;
    width: 100%;
  }

  .category-button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

    a {
      width: 100%;
    }
  }

  .buttons {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .tags {
    font-size: 12px;
  }

  h2 {
    font-size: 48px;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 400px) {
  .work-main-container {
    margin: 0 10px;
  }

  .buttons {
    margin: 0;
  }

  .all-works {
    margin-left: 0;
  }
}

@media (min-width:1400px) {
  .intro-container {
    display: flex;
    justify-content: center;
  }

  .work-main-container {
    width: 1066px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
