<div class="intro-container">
    <div class="work-main-container" id="portfolio">
        <div class="headline-container">
            <span class="tags">&lt;h2&gt;</span>
            <h2 *inView> <span *ngFor="let letter of workNameArray1; let i = index" class="text-animate _X{{ i }}"
                    appChangeClasses>{{letter}}</span><span>&nbsp;</span>

                <span *ngFor="let letter of workNameArray2; let i = index" class="text-animate _X{{ i + 2 }}"
                    appChangeClasses>{{letter}}</span>
            </h2>
            <span class="tags">&lt;/h2&gt;</span>
        </div>
        <div class="button-work">
            <span class="tags">&lt;button&gt;</span>
            <div class="buttons">
                <div class="category-button-container">
                    <div id="all" [class.activated]="all" class="category-button" (click)="showAll()" snInViewport>
                        <p><span> All</span></p>
                    </div>
                    <div id="angular" [class.activated]="angular" class="category-button" (click)="showAngular()"
                        snInViewport>
                        <p><span>Angular</span></p>
                    </div>
                    <div id="javascript" [class.activated]="javascript" class="category-button"
                        (click)="showJavascript()" snInViewport>
                        <p><span>Javascript</span></p>
                    </div>
                </div>
            </div>
            <span class="tags">&lt;/button&gt;</span>
            <span class="tags">&lt;section&gt;</span>
            <div id="all-works" class="all-works">
                <app-angular-projects *ngIf="angular" class="wrap"></app-angular-projects>
                <app-javascript-projects *ngIf="javascript" class="wrap"></app-javascript-projects>
                <app-all-projects *ngIf="all" class="wrap"></app-all-projects>
            </div>
            <span class="tags">&lt;/section&gt;</span>
        </div>
    </div>