<div class="skills-head-container">
    <h2>MY SKILLS</h2>
    <div class="skills-container">
        <div class="skills-row">
                <div class="skill">
                    Java script
                </div>
                <div class="skill">
                    HTML/ CSS
                </div>
                <div class="skill">
                   Angular
                </div>
        </div>
        <div class="skills-row">
            <div class="skill">
                SCRUM
            </div>
            <div class="skill">
                Git
            </div>
            <div class="skill">
                Rest API
            </div>
        </div>
        
    </div>
</div>
