.intro-container {
  height: 100vh;
  background-color: var(--background-grey);
}

.skills-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;

  h2 {
    text-align: center;
    margin-left: 10px;
  }

  p {
    color: white;
    margin-left: 10px;
  }
}

.tags-right {
  margin-left: 50px;
}

.d-none {
  display: none;
}

.skills-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
}

.tag-container {
  margin-top: 50px;
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

@for $i from 0 through 7 {
  ._X#{$i} {
    animation-delay: #{$i / 7.5}s;
  }
}

.text-animation-hover {
  display: inline-block;
  animation-fill-mode: both;
  min-width: 10px;

  &:hover {
    color: white;
  }
}

.text-animation-transition {
  animation: rubberBand 1s;
}

@keyframes fadeInAnimationLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1280px) {

  .intro-container {
    height: unset;
  }

  .skills-main-container {
    flex-direction: column;
    height: unset;
  }

  .tags-right {
    margin: 0;
  }
}

@media (max-width: 1100px) {
  .skills-main-container {
    margin: 0 100px;
  }
}

@media (max-width: 900px) {
  .skills-main-container {
    margin: 0 50px;
  }
}

@media (max-width: 750px) {
  #tag {
    display: none;
  }

  #tag1 {
    display: flex;
  }
}

@media (max-width: 550px) {
  .tags {
    font-size: 12px;
  } 
}

@media (max-width: 500px) {
  #tag1 {
    display: none;
  }

  #tag2 {
    display: flex;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 48px;
  }

}

@media (max-width: 400px) {
  .skills-main-container {
    margin: 0 10px;
  }
}


  @media (min-width:1400px) {
    .intro-container {
      display: flex;
      justify-content: center;
    }

    .skills-main-container {
      width: 1066px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }


