<div class="skills-main-container" id="my-skills">
    <h2 snInViewport>My Skills</h2>
    <div class="skills-container">
        <div class="skills-row">
            <div *ngFor = "let skill of skills; let i = index" class="skill" snInViewport>
                <p>{{ skill.name }}</p>
                <div class="logo-main-container">
                    <div class="logo-inner">
                        <img src = "{{ skill.image }}">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>