<div class="intro-container" id="home">
  <div class="frame-container">
    <span class="tags">&lt;body&gt;</span>
    <div class="headline-container">
      <div class="headline-button-container">
        <span class="tags">&lt;h1&gt;</span>
        <h1 class="headline">
          <span *ngFor="let letter of salutationArray; let i = index" class="text-animate _X{{ i }}"
            appChangeClasses>{{letter}}</span><br>
          <span *ngFor="let letter of introductionArray; let i = index" class="text-animate _X{{ i + 3 }}"
            appChangeClasses>{{letter}}</span><span>&nbsp;</span>
          <span class="primary">
            <span *ngFor="let letter of nameArray; let i = index" class="text-animate _X{{ i + 6 }}"
              appChangeClasses>{{letter}}</span><span>&nbsp;</span>
          </span>
          <span *ngFor="let letter of nameArray1; let i = index" class="text-animate _X{{ i + 12 }}"
            appChangeClasses>{{letter}}</span><br>
          <span *ngFor="let letter of jobArray1; let i = index" class="text-animate _X{{ i + 19 }}"
            appChangeClasses>{{letter}}</span><span>&nbsp;</span>
          <span *ngFor="let letter of jobArray2; let i = index" class="text-animate _X{{ i + 28 }}"
            appChangeClasses>{{letter}}</span><span>&nbsp;</span>
        </h1>
        <span class="tags">&lt;/h1&gt;</span>
        <div class="fadeInDown contact-button-container">
          <span class="tags">&lt;button&gt;</span>
          <div class="contact-button">
            <a href="#contact"><span>Contact me</span></a>
          </div>
          <span class="tags">&lt;/button&gt;</span>
        </div>
      </div>
      <div class="portrait-image-container ">
        <span class="tags">&lt;img&gt;</span>
        <img class="portrait-image fadeInRight" src="assets/img/Adriano1.png" alt="Adriano Parente image">
      </div>
    </div>
    <div class="go-down-container">
      <a href="#my-skills"><img class="arrow-down" src="assets/img/arrow-207-48.png" alt="scroll down"></a>
    </div>
  </div>
</div>